@font-face {
	font-family: AnoBold;
	font-display: swap;
	src: url("../fonts/AnoBold-Regular.woff2") format("woff2"), url("../fonts/AnoBold-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AnoEighth;
	font-display: swap;
	src: url("../fonts/AnoEighth-Italic.woff2") format("woff2"), url("../fonts/AnoEighth-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AnoHalf;
	font-display: swap;
	src: url("../fonts/AnoHalf-Italic.woff2") format("woff2"), url("../fonts/AnoHalf-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AnoRegular;
	font-display: swap;
	src: url("../fonts/AnoRegular-Regular.woff2") format("woff2"), url("../fonts/AnoRegular-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
